@font-face {
  font-family: Inter;
  src: url(./Fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./Fonts/Inter-Medium.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  color: rgb(81, 173, 250);
  text-decoration: none;
}

a:visited {
  color: rgb(81, 173, 250);
  text-decoration: none;
}

body {
  margin-top: 6rem;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181a1b;
}

h1 {
  align-self: flex-start;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 1.5rem;
  border-radius: .6rem;
  border: .07rem solid rgb(85, 85, 85);
  margin-bottom: 2rem;

}

.form-row {
  margin: .7rem 0;
  display: flex;
  gap: 1rem;
}

.label-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .35rem;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: .7rem;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .8);
  letter-spacing: .02rem;
}

.label-input input[type="text"],
.label-input input[type="email"] {
  font-family: Inter, sans-serif;
  font-size: .85rem;
  padding: 1rem;
  color: white;
  border-radius: .3rem;
  background-color: #181a1b;
  border: .03rem solid rgb(85, 85, 85);
  height: 2.5rem;
  width: 12rem;
}


.label-input input[type="text"]:focus,
.label-input input[type="email"]:focus {
  border: none;
  outline: .03rem solid #008AD8;
}


.form-row input[name="BTC-address"] {
  width: 18rem;
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  align-self: center;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: .03rem solid rgb(85, 85, 85);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}


.terms-conditions {
  color: white;
  width: 20rem;
  font-size: .82rem;
}

button.create {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: #202A44;
  background-color: #008AD8;
  border: none;
  border-radius: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  width: 18.5rem;
  margin: auto;
}

